{
 "presets": ["es2015", "stage-2", "react"],
 "plugins": [
   "react-require",
   "babel-root-slash-import",
   "transform-class-properties",
   ["react-intl", {
     "messagesDir": "./lib/i18n/messages/",
     "enforceDescriptions": false
   }]
 ]
}