<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>重设密码</title>
    <link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">
<p>
    请点击以下链接以重设密码 :
</p>
<p>
  <a href={{urlWithoutHash}} >{{urlWithoutHash}}</a>
</p>
<p>
 如果您没有请求重设密码， 请忽略此邮件。如果您觉得有任何问题， 请联系我们: {{supportEmail}}.
</p>


</body>
</html>